.header {
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 130px;
}

.header a {
    color: white;
    text-decoration: none;
    padding-left: 40px;
    font-size: 20px;
}

.header a:hover {
    color: orange;
}

.navlink .active {
    color: orange;
}

.btn-sign-out {
    margin-left: 12px;
    border-radius: 7px;
}

.btn-sign-out:hover {
    background-color: cadetblue;
    color: white;
}